{% extends 'layouts/base.html.twig' %}

{% block title %}View Customer{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('customers_index') }}">Customers</a>
    </li>
    <li class="is-active">
        <a href="{{ path('customers_view', { customerId: customer.id}) }}" aria-current="page">{{ customer.name }}</a>
    </li>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="container">
            <article class="panel has-background-white">
                <p class="panel-heading">
                    {{ customer.name }}
                </p>
                <div class="panel-block">
                    <div class="column">
                        <table class="table">
                            <tr>
                                <th>System ID</th>
                                <td>{{ customer.id }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ customer.name }}</td>
                            </tr>
                            <tr>
                                <th>Surname</th>
                                <td>{{ customer.surname }}</td>
                            </tr>
                            <tr>
                                <th>Actions</th>
                                <td>
                                    <a href="{{ path('customers_edit', { customerId: customer.id}) }}"
                                       class="button is-secondary is-small">
                                        Edit
                                    </a>
                                    <button
                                            data-post-button="{{ path('customers_delete', { customerId: customer.id }) }}"
                                            data-post-button-confirmation="Do You really want to delete this Customer?"
                                            class="button is-small is-danger"
                                    >
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}


