{% extends 'layouts/base.html.twig' %}

{% block title %}View Campaign{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('campaigns_index') }}">Campaigns</a>
    </li>
    <li class="is-active">
        <a href="{{ path('campaigns_view', { campaignId: campaign.id}) }}" aria-current="page">{{ campaign.title }}</a>
    </li>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="container">
            <article class="panel has-background-white">
                <p class="panel-heading">
                    {{ campaign.title }}
                </p>
                <div class="panel-block">
                    <div class="column">
                        <table class="table">
                            <tr>
                                <th>System ID</th>
                                <td>{{ campaign.id }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ campaign.title }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ campaign.description }}</td>
                            </tr>
                            <tr>
                                <th>Start date</th>
                                <td>{{ campaign.startDate | date }}</td>
                            </tr>
                            <tr>
                                <th>End date</th>
                                <td>{{ campaign.endDate | date }}</td>
                            </tr>
                            <tr>
                                <th>Actions</th>
                                <td>
                                    <a href="{{ path('campaigns_edit', { campaignId: campaign.id}) }}"
                                       class="button is-secondary is-small">
                                        Edit
                                    </a>
                                    <button
                                            data-post-button="{{ path('campaigns_delete', { campaignId: campaign.id }) }}"
                                            data-post-button-confirmation="Do You really want to delete this Campaign?"
                                            class="button is-small is-danger"
                                    >
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}


