{% extends 'layouts/base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li class="is-active"><a href="{{ path('app_dashboard') }}" aria-current="page">Dashboard</a></li>
{% endblock %}
{% block body %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Hello, {{ app.user.username }}.
                </h1>
            </div>
        </div>
    </section>
    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{ campaigns_count }}</p>
                    <p class="subtitle">Campaigns</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{ campaign_entries_count }}</p>
                    <p class="subtitle">Entries</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{ customers_count }}</p>
                    <p class="subtitle">Customers</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{ users_count }}</p>
                    <p class="subtitle">Users</p>
                </article>
            </div>
        </div>
    </section>
    <section class="columns">
        <div class="column is-6">

        </div>
        <div class="column is-6">

        </div>
    </section>

{% endblock %}
