{% extends 'layouts/base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="is-active">
        <a href="{{ path('users_index') }}" aria-current="page">Users</a>
    </li>
{% endblock %}

{% block body %}
    <table class="table is-hoverable">
        <thead>
        <tr>
            <th {% if pagination.isSorted('user.username') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'username', 'user.username') }}
            </th>
        </tr>
        </thead>

        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td> {{ user.username }}</td>
            </tr>
        {% endfor %}
    </table>



    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
